@import url('reset.css');

.clearfix:after{
	content: "."; 
	visibility: hidden; 
	display: block;
    height: 0; 
    clear: both;
}

a{
	text-decoration: none;
}

header .header-nav{
	background: black;
	font: 400 15px Fira Sans, sans-serif;
	color: white;
}

.page-center{
	max-width: 1440px;	
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header-sale{
	text-align: left;
	padding: 10px 0 10px 0;
	width: 50%;
	float: left;
}

/*Сделать иконку перед текстом про скидки*/

.user-info{
	text-align: right;
	padding: 10px 0 10px 0;
	float: right;
	width: 50%;
}

div.user-info a:visited{
	color: white;
}

.user-info li{
	display: inline-block;
	padding-left: 10px;
}

.user-info li:first-child{
	padding-left: 30px;
}

/*Сделать иконку перед мобильным номером*/

.user-info li:not(:last-child):after{
	content: url('../img/White-wrap.gif');
	padding-left: 13px;
	vertical-align: -1px;
}

.header-menu{
	padding: 20px 0 20px 0;
	font: 400 15px Fira Sans, sans-serif;
}

.menu-logo{
	width: 25%;
	float: left;
}


.menu-user-info{
	width: 25%;
	float: right;
	text-align: right;
	padding: 25px;
}

.menu-nav{
	margin-right: 25%;
	margin-left: 25%;
	text-align: center;
	padding: 25px;
}

.menu-nav > ul > li.category{
	display: inline-block;
	position: relative;
	list-style: none;
	z-index: 1;
}

.menu-nav > ul > li > a{
	padding:20px 10px;
}

.menu-nav li a:visited{
	color: black;
}

.menu-nav > ul > li > a:hover{
	color: #E6CBB0;
}

div.menu-nav li div.category-dropMenu{
	width: 420px;
	padding: 20px 15px;
	background: white;
	text-align: left;
	position: absolute;
	left: 0;
	top: 170%;
	border-radius: 3px;
	box-shadow: 0px 0px 13px rgba(0,0,0,0.3);
	visibility: hidden;
	opacity: 0;
	transition: 1s opacity ease-in-out;
}

div.menu-nav li:hover > div{
	opacity: 1;
	visibility: visible;
	transition: 1s opacity ease-in-out;
}

li.sub-category{
	float: left;
	width: 210px;
}

li.sub-category > a{
	margin-bottom: 100px;
}

.drop-menu{
	text-align: left;
	font: 200 15px Fira Sans, sans-serif;
}

div.drop-menu:before{
	content: '';
	border-top: 1px solid #DDD;
	position: absolute;
	width: 110px;
	margin-top:10px;
}

div.drop-menu> ul > li{
	padding-top: 20px;
}

div.drop-menuImg img[src*=Watchband]{
	padding-top: 15px;
}

span.new{
	position: absolute;
	font: 400 10px poppins, sans-serif;
	top: -17px;
	right: 0;
	border-radius: 2px;
	background: black;
	color: white;
	padding: 0 5px;
}

.menu-nav > ul > li:nth-child(2) span{
	background: #95d16e;
}

.menu-nav > ul > li:nth-child(4) span{
	background: red;
}

/*После прахождения флексов - ПРОВЕРИТЬ*/
div.footer-contact{
	background: #C1A38B;
	font: 400 15px Fira Sans, sans-serif;
	padding: 40px 0;
	color: white;
}

div.contact-info{
	position: relative;
	padding: 0 120px;
}

div.contact-info ul{
	display: flex;
}

div.contact-info > ul > li{
	flex-basis: auto;
	flex-grow: 1;
	text-decoration: none;
}

div.contact-info a:visited{
	color: white;
}

div.contact-info a, div.contact-info span{
	display: block;
	padding: 3px 0;
}

.footer-container{
	min-height: 100px;
}

div.footer-containerL{
	display: inline-block;
	background: white;
	float: left;
	width: 50%;
	font: 600 18px Fira Sans, sans-serif;
	min-height: 100px;
}

div.footer-containerR{
	display: inline-block;
	float: left;
	width: 50%;
	font: 600 18px Fira Sans, sans-serif;
	background: #252525;
	color: #A9A9A9;
	min-height: 100px;
}

div.footer-containerR > div{
	padding: 50px 5% 50px 15%;
}

div.footer-containerL > div{
	padding: 30px 5% 30px 15%;
}

div.footer-containerL img[src*=Logo]{
	display: block;
	margin-bottom: 10px;
}